body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
  }

  img {
    width: 60%;
    height: 70%;
    display: flex;
  }
  
  section {
    flex: 2;
    margin-right: 20px;
  }
  
  section article {
    margin-bottom: 20px;
  }
  
  section article h3 {
    margin-top: 0;
  }
  
  aside {
    flex: 1;
  }
  
  aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  aside ul li {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  